################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Travel Itinerary Planning and Management Tool/.vs/Travel Itinerary Planning and Management Tool
